.Rproj.user
.Rhistory
.RData
.Ruserdata
oxforddown/*
docs/*
Untitled/*
*.Rd
*.maf
*.mtc*
inst/rmarkdown/templates/thesis/skeleton/_bookdown_files/*
pres/*
00-Untitled/*
working/
Meta
docs
inst/doc
test/*
CRAN-SUBMISSION
